* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a,
img,
button,
input,
label,
select,
span,
i {
  display: inline-block;
}
html {
  font-size: 62.5%;
}

.chartBox {
  height: 100px;
}

/* body {
} */
